.button {
	margin-top: 19px;
	width: 172px;
	height: 46px;
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	background-image: linear-gradient(to top, $main-color 0%, #4ce2ff 100%);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	&:hover {
		background-image: none;
		background-color: $main-color;
	}
	&_big {
		display: block;
		margin: 118px auto 0 auto;
		width: 259px;
		height: 63px;
		font-size: 18px;
	}
	&_subbmit {
        width: 100%;
        height: 55px;
		font-size: 16px;
	}
}
