.choice {
    position: relative;
	min-height: 895px;
	padding: 57px 0 138px 0;
	background: url('../img/bg/mobile_app.png') center (center / cover) no-repeat;
	&_img {
        position: relative;
		display: block;
		margin: 56px auto 0 auto;
		z-index: 2;
    }
	&_descr {
        text-align: center;
		color: #222222;
		font-size: 17px;
		font-weight: 300;
		line-height: 24px;
    }
	.black {
        position: absolute;
		top: 0;
		left: 0;
		height: 499px;
		width: 100%;
		background-color: #070716;
		z-index: 1;
    }
}
	