header {
	position: relative;
	height: 50px;
}
nav {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #212121;
	z-index: 5;
}
.hamburger {
	display: none;
}
.menu {
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style-type: none;
	&_link {
		color: #ffffff;
		font-size: 15px;
		font-weight: 300;
		&:hover {
			text-decoration: none;
			color: $main-color;
		}
	}
	&_item {
		border-right: 2px dotted black;
		padding-right: 28px;
		&:last-child {
			border-right: none;
			padding-right: 0;
		}
	}
}
.subheader {
	position: absolute;
	top: 50px;
	width: 100%;
	height: 84px;
	background-color: rgba(0, 0, 0, 0.6);
	&_logo {
		display: block;
		max-width: 100%;
		margin-top: 16px;
	}
	&_official {
		margin-top: 6px;
		opacity: 0.5;
		color: #ffffff;
		font-size: 13px;
		font-weight: 400;
	}
	&_call {
		color: #ffffff;
		font-size: 12px;
		font-weight: 300;
		margin-top: 19px;
		text-align: right;
	}
	&_phone {
		display: block;
		margin-top: 8px;
		color: #ffffff;
		font-size: 22px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: right;
		line-height: 12px;
	}
}
.xs-visible {
	display: none;
}