.mobile {
	min-height: 864px;
	padding: 48px 0 79px 0;
	background: url('../img/bg/mobile_app.png') center (center / cover) no-repeat;
	.row {
		margin-top: 32px;
	}
	&_item {
		position: relative;
		width: 320px;
		height: 280px;
		margin: 0 auto;
		margin-bottom: 19px;
		padding-top: 92px;
		&_1 {
			background: url('../img/bg/mobile_screen_1.jpg') center (center / cover) no-repeat;
		}
		&_2 {
			background: url('../img/bg/mobile_screen_2.jpg') center (center / cover) no-repeat;
		}
		&_3 {
			background: url('../img/bg/mobile_screen_3.jpg') center (center / cover) no-repeat;
		}
		&_4 {
			background: url('../img/bg/mobile_screen_4.jpg') center (center / cover) no-repeat;
		}
		&_5 {
			background: url('../img/bg/mobile_screen_5.jpg') center (center / cover) no-repeat;
		}
		&_6 {
			background: url('../img/bg/mobile_screen_6.jpg') center (center / cover) no-repeat;
		}
		&_subtitle {
			color: #ffffff;
			font-size: 24px;
			font-weight: 400;
			line-height: 31px;
			text-transform: uppercase;
			text-align: center;
		}
		&_plus {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			bottom: 35px;
			left: 50%;
			transform: translateX(-50%);
			width: 26px;
			height: 26px;
			background-color: #000000;
			margin: 0 auto;
			border-radius: 100%;
			cursor: pointer;
			&:before {
				content: '';
				display: block;
				width: 14px;
				height: 2px;
				background-color: $main-color;
				transition: 0.3s all;
			}
			&:after {
				content: '';
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				display: block;
				width: 2px;
				height: 14px;
				background-color: $main-color;
				transition: 0.3s all;
			}
			&:hover {
				&:before, &:after {
					background-color: $second-color
				}
			}	
		}
	}
}
	

