.promo {
    min-height: 800px;
	background: url('../img/bg/main_bg.jpg') center (center / cover) no-repeat;
    padding: 150px 0 135px 0;
    &_header {
        color: #ffffff;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 60px;
		line-height: 60px;
		margin: 0;
		text-align: center;
    }
    &_subheader {
        color: #ffffff;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 36px;
		line-height: 36px;
		margin: 0;
		margin-top: 22px;
		text-align: center;
    }
		
	&_descr {
        color: #ffffff;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		margin-top: 23px;
    }
}