.reasons{
    padding: 71px 0 65px 0;
	&_block {
        display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 35px;
    }
	&_round {
        display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 26px;
		width: 113px;
		height: 113px;
		background-color: $main-color;
		border-radius: 100%;
    }
	&_descr {
        width: 343px;
    }
	&_subtitle {
        line-height: 21px;
		color: $main-color;
		font-size: 17px;
		font-weight: 400;
    }
	&_text {
        color: #202020;
		font-size: 15px;
		font-weight: 300;
		line-height: 21px;
    }
}
	