.world {
    position: relative;
	min-height: 717px;
	padding: 49px 0;
	background: url(../img/bg/map.jpg) center (center / cover) no-repeat;
	&_link {
        position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 49px;
		text-align: center;
		font-size: 15px;
		font-weight: 400;
		line-height: 68px;
		text-transform: uppercase;
		color: #1fbad6;
		&:hover {
            text-decoration: none;
			color: #fff;
        }
    }
}